@import "bootstrap/scss/bootstrap"; /* picks it up in node_modules! */

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_form_autocomplete";

// Your CSS partials
@import "components/index";
@import "pages/index";

.wraper {
  min-height: 70vh;
}


li a.text-wine {
  color: $wine;
}

li a.text-gray {
  color: $gray;
}

a.text-wine {
  color: $wine;
}

a.text-gray {
  color: $gray;
}

.text-gray {
  color: $gray;
}

.text-wine {
  color: $wine;
}

a {
  color: $wine;
}

.table-responsive {
    display: table;
}

.ui-autocomplete {
  background: #fff;
  border: 1px solid #c6cbd0;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.196);
  font: 14px inherit;
  margin: 0px;
  padding: 4px 0px;
  color: #222;
  width: 380px !important;
  max-height: 250px;
  overflow-y: auto;
  z-index: 3000;
  position: absolute;
  .ui-menu-item {
    padding: 5px 10px 6px;
    display: list-item;
    cursor: pointer;
  }
}

.ui-autocomplete .ui-menu-item:hover {
  background-color: #ffd800;
}

.ui-item-description {
  font-size: 13px;
  color: #aaa;
}

.ui-autocomplete-loading {
  background: white url("ui-anim_basic_16x16.gif") 95% center no-repeat;
}

