@import "bootstrap/scss/bootstrap"; /* picks it up in node_modules! */
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.wraper {
  min-height: 70vh;
}


li a.text-wine {
  color: $wine;
}

li a.text-gray {
  color: $gray;
}

a.text-wine {
  color: $wine;
}

a.text-gray {
  color: $gray;
}

.text-gray {
  color: $gray;
}

.text-wine {
  color: $wine;
}

a {
  color: $wine;
}

.table-responsive {
    display: table;
}

